.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-divider{
    width: 500px;
  }
  form{
    mat-form-field{
      width: 400px;
    }
  }
}
